@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("./blog.css");

html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.mdc-button__label,
.btn {
  font-family: "New Amsterdam", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  margin: inherit;
}

.navContainer {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
}

/* Set navigation container to span full width and center within max width */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  max-width: 1100px;
  margin: auto;
}

nav * {
  font-family: "New Amsterdam", sans-serif !important;
}

nav .logo img {
  width: 100%;
  max-width: 200px;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  position: relative;
  margin: 0 1rem;
}

nav ul li a {
  color: #333;
  font-size: clamp(20px, 1.7vw, 1.7vw);
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: rgba(126, 211, 33, 1);
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #555;
  padding: 0.5rem 0;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  z-index: 8;
}

@media (max-width: 768px) {
  nav ul ul {
    display: block;
    position: relative;
    top: auto;
    left: auto;
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
    visibility: visible;
    margin-bottom: 0;
    padding-bottom: 0;

    * {
      color: black !important;
    }
  }
}

@media (max-width: 768px) {
  .communicationBox {
    display: none;
  }
}

nav ul li:hover > ul,
nav ul li ul:hover {
  display: block;
  opacity: 1;
  visibility: visible;
}

nav ul ul li a {
  color: white;
  padding: 0.5rem 1.5rem;
  display: block;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}

nav ul ul li a:hover {
  background-color: #666;
}

.navUser {
  position: relative;
  font-size: 20px;
  div {
    margin-left: 5px;
    margin-top: 2px;
  }
}

.dropDown {
  display: none;
  position: absolute;
  top: 100%; /* Adjust to position it under the navUser */
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  list-style: none;
  margin: 0;
  border-radius: 4px;
  z-index: 10;
  li {
    margin-bottom: 10px;
  }
}

/* Show dropdown on hover */
.navUser:hover .dropDown {
  display: block;
}

.smallCommunicationBox {
  display: none;
}

/* Responsive styling */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .smallCommunicationBox {
    display: block;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 70px;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  nav ul.open {
    display: flex;
    margin-top: 20px;
  }

  nav ul li {
    margin: 0.5rem 0;
  }

  .navUser {
    display: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

#nprogress .bar {
  background: #29d;
  height: 3px;
}

.blogPostCard:hover {
  transform: scale(1.01);
  opacity: 0.9;
}

.blogPostCard {
  transition: all 0.3s ease-in-out; /* Smoothly transition the transform property */
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 1rem;
  width: 100%;
}

.cartTotal {
  font-size: 20px;
}

.navCart {
  display: flex;
  transition: all 0.3s ease-in-out; /* Smoothly transition the transform property */
  div {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    font-family: "New Amsterdam", sans-serif !important;
    font-size: 1.5em;
  }
}

.navCart:hover {
  transform: scale(1.1);
}

.navSearch {
  height: 30px;
  border-radius: 20px;
  width: 350px;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 3px;
}

.navSearchContainer {
  display: flex;
  margin: auto;
  position: absolute;
  right: 10%;
  z-index: 7;
}

.navSearchForm {
  width: 100%;
  margin-left: auto;
}

.searchButton {
  background: none;
  border: none;
  transition: all 0.3s ease-in-out; /* Smoothly transition the transform property */
}

.searchButton:hover {
  transform: scale(1.1);
}

.cartBackButton {
  display: flex;
  div {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    font-family: "New Amsterdam", sans-serif !important;
    font-size: 1.5em;
  }
}

.searchButton:hover {
  cursor: pointer;
}

/* SEARCH */
.ais-SearchBox {
  margin-bottom: 1em;
}

.ais-InstantSearch {
  max-width: 960px;
  width: 100%;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}

.ais-Hits-list .ais-Hits-item {
  margin-left: 0;
  width: 100%;
}

.ais-Hits-item img {
  margin-right: 1em;
}

.ais-InstantSearch .ais-Hits-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  margin-left: 0;
  margin-top: 0;
}

.searchImg {
  width: 15%;
  height: auto;
  object-fit: cover;
}

.phoneNumber {
  font-size: 1.5em;
  color: rgba(126, 211, 33, 1);
}

.blogItem {
  width: 43%;
  margin-bottom: 20px;
}

.blogItem .image img {
  width: 100% !important;
}

.blogList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .blogItem {
    width: 90%;
    margin: auto;
  }
}

.pageContainer {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

.isTyping {
  color: white;
}

.senderAvatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  margin-top: -15px;

  margin-right: 5px;
  margin-bottom: 5px;
  justify-content: center;
  background-color: white;
  align-items: center;
}

.message {
  word-wrap: break-word;
  hyphens: auto;
}

a.chat {
  font-size: 23px;
  margin-right: 7px;
  border-right: solid;
  padding-right: 10px;
}

.urlPreview {
  background-color: whitesmoke;
  border: solid 1px black !important;
  * {
    color: black !important;
  }
  .small {
    font-size: 12px !important;
  }
}

.chatFlex {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.chatFlex .messages {
  height: 75vh;
  overflow-y: scroll;
  width: 100%;
}

.chatStack {
  border-left: solid 1px rgb(19, 19, 19);
  width: 100%;
}

.chatInputArea {
  background-color: rgb(22, 22, 22) !important;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  height: 30vh;
}

.conversationList {
  width: 20vw;
  background: rgb(22, 22, 22) !important;
  color: white;
}

.thumbnails {
  position: absolute;
  top: -110px;
}

.inputContainer {
  position: relative;
}

.thumbnails img {
  border-radius: 10px;
}

.reactions {
  position: relative;
  margin-right: 10px;
  display: flex;
  margin-top: -25px;
  gap: 5px;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.05);
  padding: 5px 10px;
  border-radius: 10px;
  background-color: lightgray;
}

.showreactionsEmojiPicker {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.reactionsEmojiPicker.main {
  position: absolute;
  z-index: 999;
}

.reactionsPicker {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.editor {
  flex: 1;
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  height: 8vh;
  overflow-y: auto;
}

.formatButton {
  margin-left: 10px;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
}

.sendButton {
  margin-left: 10px;
  background: #007aff;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.reactionsContainer {
  display: flex;
  margin-bottom: 30px;
  margin-top: 45px;
}

.messageContainer {
  position: relative;
  z-index: 1;
  color: white;
  padding-bottom: 55vh;
  padding-top: 1vh;
  overflow: hidden;
}

.messageContent {
  max-width: 50%;
  padding: 10px;
  border-radius: 20px;
  background-color: #e5e5ea;
  color: #000000;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.messageContent.sender {
  background-color: #007aff;
  color: #ffffff;
  border-radius: 20px 20px 0 20px;
  margin-left: auto;
}

.messageContent.receiver {
  border-radius: 20px 20px 20px 0;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.showReply {
  position: absolute;
  width: 30px;
  margin-left: 25px;
  margin-top: 2px;
  background-color: transparent;
  border: none;
  color: white;
}

.replyModal {
  overflow-y: hidden !important;
  position: relative;
}

.replyModal .showReply {
  display: none;
}

.replyModal .messageContent {
  margin-bottom: 20px;
  width: 350px;
}

.replyModal h3 {
  color: white;
  margin-bottom: 15px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.replyModal .replies {
  height: 67vh;
  overflow-y: scroll;
  position: relative;
}

.replyModal {
  width: 95%;
  margin: auto;
}

button.closeModal {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

button.closeModal svg {
  width: 30px;
}

.replies {
  scrollbar-width: thin;
  scrollbar-color: rgb(161, 161, 161) rgb(0, 0, 0);
}

/* For Webkit-based browsers */
.replies::-webkit-scrollbar {
  width: 8px;
}

.replies::-webkit-scrollbar-track {
  background: rgb(113, 113, 113);
}

.replies::-webkit-scrollbar-thumb {
  background: rgb(69, 69, 69);
  border-radius: 4px;
}

.replies::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}

.filePreview {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  background-color: #fefefe;
  margin: 1% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 10px;
}

.filePreview img {
  cursor: pointer;
}

@media (max-width: 1100px) {
  .conversationList {
    display: none;
  }

  .conversationList.open {
    display: block;
    width: 100%;
    position: absolute;
    z-index: 10;
    height: 100vh;
  }
}

.conversationList h3 {
  margin-top: 15px;
}

.conversationListItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  font-size: 0.9em;
}

.conversationListItem:hover {
  background-color: #333;
}

.conversationListItem.active {
  background-color: #333;
}

.historicConversations {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 70vh;
  overflow-y: auto;
}
